header {
    position: absolute;
    align-items: flex-end;
}
.foto-logo {
    position: absolute;
    height: 70px;
    top: 15px;
    left: 178px;
}
nav {
    padding-top: 30px;
   font-size:25px;
   font-family: "Rubik Mono One", monospace;
   font-weight: 400;
   font-style: normal;
}
a {
    text-decoration: none;
}
.blog-page {
    text-align: right;
}
body{ background-color:white;


}
h1 {
    font-family: "Rubik Mono One", monospace;
}
.info-frase {
    font-family: "Major Mono Display", monospace;
    color: white;
}
p {
    font-family: "Salsa", cursive;

}
.bordes {
    border: 3px solid black;

}
.fondo {
}
.titulo-principal {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;      
    background: linear-gradient(45deg,rgb(49, 207, 255) 15%, whitesmoke 45%,yellow 15%,white, rgb(49, 207, 255) );
    mix-blend-mode: screen;
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h2 {
    font-size: 3rem;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;

}
.presentacion {
    position: absolute;
    top: 40%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
video {
    margin: 100px;
    width: 75%;
    border-radius: 25px;
}
.contenedor-de-video {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;

    
    
}
.contenedor-argentina {
    display: flex;
    justify-content: center;
}
.intro-pais {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.pais-argentina {
    text-align: center;
    justify-content: center;
    height: 1000px;
    margin: 20px;
    border-radius: 25px;
    width: 85%;
}
.provincias {
    font-size: 2rem;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-left: 45px;
    padding-top: 50px;
}
li {
    padding: 10px;
}
.cajas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.caja-provincias {
    font-family: "Salsa", cursive;
    color: white;
    font-size: 3rem;
    height: 300px;
    width: 300px;
    background-color: red;
    margin: 20px;
    border-radius: 25px;
    align-items: center;

}
.provincia-mendoza {
    background-image: url(/provincia-mendoza.png);


}
.provincia-san-juan {
    background-image: url(/san-juan.png);
}
.provincia-san-luis {
    background-image: url(/san-luis.png);
}
.final {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14vh;
}
.invitacion {
    font-size: 2.5vh;
    font-family:"Caveat", cursive;
    font-weight: 400;
    color: black;
}
.malambo{
    font-family: "Cinzel", serif;
    font-size: 3vh;
    padding: 1vh;
    color: black;
}
.logo-instagram {
    height: 8vh;
    
}
footer {
    text-align: center;
}
.foto-horizontal {
    width: 100%;
    height: 300px;
    border-radius: 25px;

}
/* Media query */
@media (max-width: 800px) {
   .video-camping {
    display: none;
   }
   .titulo-principal {
    position: relative;
    top: 40vh;
    font-size: 1.8rem;
      

   }
   .presentacion {
    height: 100vh;
    position: relative;
    top: 50vh;
    width: 80%;
    font-size: 0.8rem;
   }
   .info-frase {
    color: black;
   }
   .foto-logo {
    height: 150px;
    position: absolute;
    top: 40vh;
    left: 9%;
   }
   .inicio {
    display: flex;
    justify-content: center;
   }

}

